extends ../layouts/common

block content
   h1 all books
   
   form(action="/books" method="GET")
      .form-group
         label Title
         input.form-control(type="text", name="title" value= searchOptions.title || '')
      .form-group
         label Published after
         input(type="date", name="publishedAfter" value= searchOptions.publishedAfter || '')
      .form-group
         label Published before
         input(type="date", name="publishedBefore" value= searchOptions.publishedBefore || '')
      button.btn.btn-primary(type="submit") Search

   br
   br
   each book in books
      img(src= book.coverImagePath height="150" width="100")

