extends ../layouts/common

block content
   h1 all books
   
   form(action="/books" method="GET")
      div
         label Title
         input(type="text", name="title" value= searchOptions.title || '')
      div
         label Published after
         input(type="date", name="publishedAfter" value= searchOptions.publishedAfter || '')
      div
         label Published before
         input(type="date", name="publishedBefore" value= searchOptions.publishedBefore || '')
      button(type="submit") Search

   br
   br
   each book in books
      a(href="/books/" + book._id)
         img(src= book.coverImagePath height="150" width="100")

