<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/stylesheets/main.css")
      link(defer href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet")
      script(defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js")
      link(defer href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet")
      script(defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js")
      script(defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js")
      script(defer src="https://unpkg.com/filepond/dist/filepond.js")
      script(defer src="/javascripts/fileUploads.js")
      title Hưng đẹp trai
   body
      .container
         nav.header-nav
            a.header-title(href='/') Hung-sama
            ul
               li
                  a(href='/authors') Authors
               li
                  a(href='/authors/new') Add author
               li
                  a(href='/books') Books
               li
                  a(href='/books/new') Add books
         .inner-container
            block content
            br
            br
            p &copy; Handsome trikohung
