extends ../layouts/common

block content
   h1 all authors
   
   form(action="/authors" method="GET")
      div
         label(for="name") Name
         input(type="text", name="name" value= searchOptions.name || '')
      button(type="submit") Search

   br
   each author in authors
      div= author.name
      a(href="/authors/"+ author._id) View
      a(href="/authors/"+ author._id + '/edit') Edit
      form(method="POST" action="/authors/" + author._id + "?_method=DELETE")
         button(type="submit") Delete

