extends ../layouts/common

block content
   h1.page-header All authors
   
   form(action="/authors" method="GET")
      .form-row
         .form-item
            label(for="name") Name
            input(type="text", name="name" value= searchOptions.name || '')
      .form-row.form-row-end
         button.btn.btn-primary(type="submit") Search

   br
   each author in authors
      div= author.name
      .btn-row
         a.btn.btn-primary(href="/authors/"+ author._id) View
         a.btn.btn-primary(href="/authors/"+ author._id + '/edit') Edit
         form(method="POST" action="/authors/" + author._id + "?_method=DELETE")
            button.btn.btn-danger(type="submit") Delete

