extends ../layouts/common

block content
   h2.page-header New author

   if error
      div= error
   form(action="/authors" method="POST")
      div
         label(for="name") Name
         input(type="text" name="name" value= author.name placeholder="Name") 
      .btn-row
         a.btn.btn-primary(href="/authors") Cancel
         button.btn.btn-primary(type="submit") Create