extends ../layouts/common

block content
   h2 New author

   if error
      .alert.alert-danger= error
   form(action="/authors" method="POST")
      .form-group
         label(for="name") Name
         input.form-control(type="text" name="name" value= author.name placeholder="Name") 
      a.btn.btn-secondary(href="/authors") Cancel
      button.btn.btn-success(type="submit") Create