extends ../layouts/common

block content
   h2 New author

   if error
      div= error
   form(action="/authors" method="POST")
      div
         label(for="name") Name
         input(type="text" name="name" value= author.name placeholder="Name") 
      a(href="/authors") Cancel
      button(type="submit") Create